<!-- Data Tables -->
<link rel="stylesheet" href="/static/css/bootstrap-table.min.css">
<link rel="stylesheet" href="/static/css/bootstrap-table.min.css">
<link rel="stylesheet" href="/static/css/bootstrap-switch.min.css">
<link rel="stylesheet" href="/static/css/BeAlert.css">
<!-- Dashboard Wrapper Start -->
    <div class="dashboard-wrapper dashboard-wrapper-lg">
        <!-- Container fluid Starts -->
        <div class="container-fluid">
            <!-- Top Bar Starts -->
            <div class="top-bar clearfix">
                <div class="row gutter">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="page-title">
                            <h3>API接口配置</h3>
                            <p>数据库管理 / <a href="{% url "api_view_DatabaseManagement" %}">数据库</a> / <a href="{% url "api_view_DatabaseManagement" %}">数据库管理</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row Starts -->
            <div class="row gutter">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-blue">
                        <div class="panel-heading" style="border-bottom: 1px solid whitesmoke;">
                            <h3 class="text-success">所有数据库</h3>
                        </div>
                        <div class="panel-body">
                            <div id="toolbar"></div>
                            <table id="table"></table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row Ends -->
        </div>
        <!-- Container fluid ends -->
    </div>
    <!-- Dashboard Wrapper End -->
    <!-- add模态框（Modal） -->
    <div class="modal fade" id="addmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">×
						</button>
						<h4 class="modal-title" id="modal_title">
							新增数据库
						</h4>
					</div>
					<div class="modal-body">
						<form class="bs-example bs-example-form" role="form">
							<div class="input-group">
								<span class="input-group-addon">名称</span>
								<input type="text" class="form-control" name="name" id="name" autocomplete="off">
							</div>
							<div class="input-group">
								<span class="input-group-addon">数据库类型</span>
                                <select  class="form-control" name="type" id="type" autocomplete="off">
                                    <option value="Mysql">Mysql</option>
                                    <option value="Oracle">Oracle</option>
                                    <option value="Sqlserver">Sqlserver</option>
                                </select>
							</div>
                            <div class="input-group">
								<span class="input-group-addon">数据库</span>
								<input type="text" class="form-control" name="db" id="db"/>
							</div>
							<div class="input-group">
								<span class="input-group-addon">IP</span>
								<input type="text" class="form-control" name="ip" id="ip"/>
							</div>
                            <div class="input-group">
								<span class="input-group-addon">端口</span>
								<input type="text" class="form-control" name="port" id="port" value="3306"/>
							</div>
                            <div class="input-group">
								<span class="input-group-addon">用户名</span>
								<input type="text" class="form-control" name="username" id="username" />
							</div>
                            <div class="input-group">
								<span class="input-group-addon">密码</span>
								<input type="password" class="form-control" name="password" id="password"/>
							</div>
							<div class="input-group">
								<span class="input-group-addon">启用状态</span>
								<select class="form-control" name="status" id="status" >
                                    <option value="1">是</option>
                                    <option value="0">否</option>
                                </select>
							</div>
                            <input id="optype" value="add" hidden>
						</form>
					</div>
					<div class="modal-footer">
                        <button type="button" class="btn btn-success" onclick="test_connection()">
                            测试连接
						</button>
						<button type="button" class="btn btn-default"
								data-dismiss="modal">关闭
						</button>
						<button type="button" id="save" class="btn btn-primary" onclick="add()">
							提交保存
						</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
    <!-- add模态框完（Modal） -->
    <!-- add模态框完（Modal） -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-table.min.js"></script>
    <script src="/static/js/bootstrap-switch.min.js"></script>
    <script src="/static/js/bootstrap-table-locale-all.min.js"></script>
    <script src="/static/js/BeAlert.js"></script>
    <script type="application/javascript">
    $(function() {
    $('#table').bootstrapTable({
        method: 'get',
        locale:'zh-CN',//中文支持,
        search: true,
        contentType: "application/x-www-form-urlencoded",//必须要有！！！！
        url:"{% url "api_view_DatabaseList" %}",//要请求数据的文件路径
        {#height: '600',//高度调整#}
        toolbar: '#toolbar',//指定工具栏
        striped: true, //是否显示行间隔色
        dataField: "res",//bootstrap table 可以前端分页也可以后端分页，这里
        pageNumber: 1, //初始化加载第一页，默认第一页
        pagination:true,//是否分页
        sidePagination:'client',//指定前端分页
        pageSize:10,//单页记录数
        showColumns:false,
        clickToSelect: true,//是否启用点击选中行
        toolbarAlign:'right', //工具栏对齐方式
        buttonsAlign:'right',//按钮对齐方式
        columns:[
            {
                title:'全选',
                field:'select',
                //复选框
                checkbox:true,
                width:25,
                align:'center',
                valign:'middle'
            },
            {
                title:'名称',
                field:'NAME',
            },
            {
                title:'数据库类型',
                field:'TYPE',
            },
            {
                title:'数据库',
                field:'DB',
            },
            {
                title:'IP:端口',
                field:'IP_PORT',
            },
            {
                title:'用户名',
                field:'USERNAME',
            },
            {
                title:'添加时间',
                field:'CREATE_TIME',
            },
            {
                title:'启用状态',
                field:'STATUS',
            },
            {
                title:'操作',
                field:'OP',
            },
        ],
        responseHandler:function(res){
            res = res.DATA;
            if (res.length > 0) {
                for( let i = 0 ; i < res.length; i++ ){
                    res[i].OP = "<a onclick=\"edit(this, '"+ res[i].NAME + "\')\"><button type=\"button\" class=\"btn btn-sm btn-info\" id='edit_btn'>编辑</button></a>\n";
                    res[i].OP += "<a onclick=\"del(this, '"+ res[i].NAME + "\')\"><button type=\"button\" class=\"btn btn-sm btn-danger\" id='del_btn'>删除</button></a>\n";
                    if (res[i].STATUS == 1)
                        res[i].STATUS = "<input type='checkbox' name='qyzt_switch' checked value='"+ res[i].NAME +"'>";
                    else
                        res[i].STATUS = "<input type='checkbox' name='qyzt_switch' value='"+ res[i].NAME +"'>";
                }
            }
            return res;
        },
        onAll: function () {
				$('input[name="qyzt_switch"]').bootstrapSwitch({
			　　　　onText : "启用",      // 设置ON文本
			　　　　offText : "禁用",    // 设置OFF文本
			　　　　onColor : "success",// 设置ON文本颜色(info/success/warning/danger/primary)
			　　　　offColor : "danger",  // 设置OFF文本颜色 (info/success/warning/danger/primary)
			　　　　size : "small",    // 设置控件大小,从小到大  (mini/small/normal/large)
			　　　　onSwitchChange : function(event, status) {
			            if (status === true )
			                status = 1
                        else
                            status = 0
						let name = event.target.value;
						$.ajax({
							url: "{% url "api_view_ChangeStatus" %}",
							type: "post",
							data: {"type": "database_qyzt","name": name.toLocaleString(), "status": status, "csrfmiddlewaretoken": "{{ csrf_token }}"},
							success: function (res) {
                                alert("成功", res.RTN_MSG, ()=>{}, {type: 'success', confirmButtonText: '确定'});
								refresh_data();
							},
							error: function (res) {
								console.log(res)
                                alert("失败", res.RTN_MSG, ()=>{}, {type: 'error', confirmButtonText: '确定'});							}
						})
			　　　　}
　　				})
			}
        })
    $(".fixed-table-toolbar").append('<div class="pull-left search input-group"><button  style="height: 30px" class="btn btn-success btn-sm"title="添加配置" data-toggle="modal" data-target="#addmodal" id="add_btn"><i class="glyphicon glyphicon-plus"></i></button></div>')
    $("[data-toggle='tooltip']").tooltip();
    $("#type").change(function (res) {
        if ($("#type").val() === "Oracle")
            $("#port").val('1521')
        else if ($("#type").val() === "Mysql")
            $("#port").val('3306')
        else if ($("#type").val() === "Sqlserver")
            $("#port").val('1433')
    })
})
    $('#addmodal').on('hidden.bs.modal', function () {
        $("#optype").val('add')
        $("#db").val('')
        $("#ip").val('')
        $("#port").val('')
        $("#username").val('')
        $("#password").val('')
        $("#name").removeAttr("readonly")
        $("#name").val('')
    })

   function del(obj, name) {
        confirm("提醒", '确认删除?', function (isConfirm) {
            if (isConfirm) {
                $.post("{% url "api_view_delete" %}", {
                        "name": name,
                        "del_type": "db",
                        "csrfmiddlewaretoken": "{{ csrf_token }}",
                    },
                    function (res) {
                        if (res.RTN_CODE === '01') {
                            alert("成功", res.RTN_MSG, () => {
                            }, {type: 'success', confirmButtonText: '确定'});
                            refresh_data()
                            $("#addmodal").modal("hide");
                        } else {
                            alert("错误", res.RTN_MSG, () => {
                            }, {type: 'error', confirmButtonText: '确定'});
                        }
                    })
            }
        }, {type: 'warning', confirmButtonText: '确定'});
    }

    function add() {
        $("#modal_title").val("新增数据库")
        let name = $("#name").val()
        if (name === ""){
           alert("错误", "名称必填", ()=>{}, {type: 'error', confirmButtonText: '确定'});
           return;
        }
        let type = $("#type").val()
        let db = $("#db").val()
        let ip = $("#ip").val()
        let port = $("#port").val()
        let username = $("#username").val()
        let password = $("#password").val()
        let status = $("#status").val()
        let msg = "确认添加?"
        if ($("#optype").val() === "edit"){
            msg = "确认修改?"
        }
        confirm("提醒", msg, function (isConfirm) {
            if (isConfirm){
                $.post('{% url "api_view_DatabaseManagement" %}',{"optype": $("#optype").val(),"name": name, "type": type, "db": db, "ip": ip, "port": port, "username":username, "password": password, "status": status, "csrfmiddlewaretoken": "{{ csrf_token }}"}, function (res) {
                    if (res.RTN_CODE === 1){
                      alert("成功", res.RTN_MSG, ()=>{}, {type: 'success', confirmButtonText: '确定'});
                      $("#addmodal").modal("hide");
                      refresh_data()
                    }
                    else{
                      alert("错误", res.RTN_MSG, ()=>{}, {type: 'error', confirmButtonText: '确定'});
                    }
                })
            }
        }, {type: 'question', confirmButtonText: '确定'});
    }
    function edit(obj, name){
        $("#modal_title").html("编辑数据库")
        $("#optype").val("edit")
        $.get("{% url "api_view_DatabaseList" %}", {"name": name}, function (res) {
            res = res.DATA[0]
            $('#name').val(res.NAME)
            $("#username").val(res.USERNAME)
            $("#ip").val(res.IP)
            $("#port").val(res.PORT)
            $("#db").val(res.DB)
            $("#name").attr("readonly", "true")
            $("#type option[value=\"" + res.TYPE + "\"]")[0].selected = true
            $("#status option[value=\"" + res.STATUS + "\"]")[0].selected = true
        })
        $("#addmodal").modal("show");
    }
    function test_connection() {
        let type = $("#type").val()
        let db = $("#db").val()
        let ip = $("#ip").val()
        let port = $("#port").val()
        let username = $("#username").val()
        let password = $("#password").val()
        $.post('{% url "api_view_TestConnection" %}',{"type": type, "db": db, "ip": ip, "port": port, "username":username, "password": password, "csrfmiddlewaretoken": "{{ csrf_token }}"}, function (res) {
            if (res.RTN_CODE === 1){
                alert("success", res.RTN_MSG, function () {}, {type: 'success', confirmButtonText: '确定'});
          }
          else{
              alert("error", res.RTN_MSG, function () {
                //after click the confirm button, will run this callback function
                }, {type: 'error', confirmButtonText: '确定'});
          }
        })
    }
    function refresh_data() {
        let opt = {
            url:"{% url "api_view_DatabaseList" %}",//要请求数据的文件路径
            silent: true
        }
        $("#table").bootstrapTable("refresh", opt);
    }
</script>

